header {
    text-align: center;
    background-color: black;
    border-block: 20px;
    margin: 10px;
    color: white;
}

.box1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.box2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 100px;
}

.text-art {
    text-align: center;
    margin-left: 200px;
    margin-right: 50px;
}

.text-img {
    text-align: right;
    width: 50%;
}

img {
    width: 50%;
}

.box2 {
    text-align: center;
}